/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* utility */
@media screen and (min-width: 576px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1800px;
  }
}

.container {
  display: block;
  margin: auto;
  position: relative;
}

/* main */

.header {
  background-color: blueviolet;
  text-align: center;
  padding: 1rem .75rem;
  font-size: 2rem;
  font-weight: 500;
}

.app-wraper .container {
  position: relative;
}

.app-wraper .delete-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 100;
  border: none;
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  background-color: brown;
  color: #fff;
  opacity: .7;
  transition: opacity .5s;
}

.app-wraper .delete-btn:hover {
  opacity: 1;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.photo-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.photo-container:first-child {
  grid-column: 1/4 ;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 4s;
}

.photo-container:hover img {
  transform: scale(1.01);
}

.select-input{
  position: absolute;
  top: .75rem;
  right: .75rem;
  height: 3rem;
  width: 3rem;
  z-index: 2;
  opacity: 0;
}

.select-input:checked {
  opacity: .8;
}

.select-input-lebel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
}